@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/dragDropList.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
<script src="~/js/angular-drag-and-drop-lists.min.js"></script>

<script src="~/Angular/app.js"></script>
<script src="~/Angular/Controllers/mainCtrl.js"></script>

<div ng-app="demo">
    <div ng-include="'../Angular/Views/main.html'"></div>
</div>


